DirectoryIndex index.html index.php index.htm parking-page.html
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php

<FilesMatch "\.pdf$">
  header set x-robots-tag: noindex
</FilesMatch>